POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=nestjs_ecommerce
PORT=5000
SECRET_KEY=SECRET_KEY
CLOUD_NAME=CLOUD_NAME
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=CLOUDINARY_API_KEY
STRIPE_PUBLIC_KEY=STRIPE_PUBLIC_KEY
STRIPE_SECRET_KEY=STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET=STRIPE_PUBLIC_KEY
NODE_ENV=NODE_ENV
SENDGRID_API_KEY=SENDGRID_API_KEY
DATABASE_URL=DATABASE_URL
FRONT_END_BASE_URL=FRONT_END_BASE_URL
PGADMIN_DEFAULT_EMAIL=PGADMIN_DEFAULT_EMAIL
PGADMIN_DEFAULT_PASSWORD=PGADMIN_DEFAULT_PASSWORD